URxvt.scrollBar:   false

URxvt*font: xft:Iosevka Medium:pixelsize=14
URxvt*boldFont: xft:Iosevka Semibold :pixelsize=14

! special
*.foreground:   #0a68ff
*.background:   #000000
*.cursorColor:  #0a68ff

! black
*.color0:       #000000
*.color8:       #686868

! red
*.color1:       #fa0000
*.color9:       #4b5dff

! green
*.color2:       #29bf18
*.color10:      #42b917

! yellow
*.color3:       #b26818
*.color11:      #ffff54

! blue
*.color4:       #7d9823
*.color12:      #7a05ff

! magenta
*.color5:       #e11ee1
*.color13:      #7d3ebc

! cyan
*.color6:       #0086df
*.color14:      #01c8ff

! white
*.color7:       #0a68ff
*.color15:      #323232

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.Home: \033[H
URxvt.keysym.End:  \033[F

! match vte/xterm
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! clear the scrollback
URxvt.keysym.Control-l: command:\033c

! scale fonts
URxvt.keysym.C-S-plus: font-size:increase
URxvt.keysym.C-KP_Add: font-size:increase
URxvt.keysym.C-S-underscore: font-size:decrease
URxvt.keysym.C-KP_Subtract: font-size:decrease
URxvt.keysym.C-0: font-size:reset
URxvt.keysym.C-KP_0: font-size:reset
